In [47]:
import pandas as pd
import re

In [48]:
linear_semana = pd.read_csv('tv_linear_semanal.csv', sep=';')

In [49]:
linear_semana

,Praças,Datas,Faixas Horárias,Emissoras,Rat%,Shr%,TVR%,AvRch% [WAvg],Cov%,TVR#
0,RM - Abertas,*Week 52/21 (01/01/2022 - 02/01/2022),7_12,GLOBO,"2,8533","29,3364","9,7262","11,5056","17,8500","6942,7290"
1,RM - Abertas,*Week 52/21 (01/01/2022 - 02/01/2022),7_12,RECORD,"1,2517","12,8694","9,7262","6,1424","10,5978","6942,7290"
2,RM - Abertas,*Week 52/21 (01/01/2022 - 02/01/2022),7_12,SBT,"0,9510","9,7775","9,7262","5,1589","8,9047","6942,7290"
3,RM - Abertas,*Week 52/21 (01/01/2022 - 02/01/2022),7_12,TV BAND,"0,1710","1,7583","9,7262","2,4448","4,4137","6942,7290"
4,RM - Abertas,*Week 52/21 (01/01/2022 - 02/01/2022),7_12,NI - �NIC at� Mar19�,"0,8377","8,6124","9,7262","9,1718","14,6882","6942,7290"
...,...,...,...,...,...,...,...,...,...,...
5899,RM - Abertas,Week 7/25 (10/02/2025 - 16/02/2025),24as30,RECORD,"0,3492","5,1455","6,7866","1,9014","7,4728","4698,2099"
5900,RM - Abertas,Week 7/25 (10/02/2025 - 16/02/2025),24as30,SBT,"0,5057","7,4509","6,7866","2,6133","9,9220","4698,2099"
5901,RM - Abertas,Week 7/25 (10/02/2025 - 16/02/2025),24as30,TV BAND,"0,1425","2,1001","6,7866","1,1028","4,9434","4698,2099"
5902,RM - Abertas,Week 7/25 (10/02/2025 - 16/02/2025),24as30,NI - �NIC at� Mar19�,"0,4156","6,1246","6,7866","7,1774","22,6367","4698,2099"
5903,RM - Abertas,Week 7/25 (10/02/2025 - 16/02/2025),24as30,NI_TOTAL,"2,9386","43,3006","6,7866","10,9631","31,7191","4698,2099"

In [50]:
linear_semana.columns = linear_semana.columns.str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '').str.replace('[', '').str.replace(']', '')
linear_semana = linear_semana[linear_semana['faixas_horárias'] == 'Dia Inteiro'].reset_index(drop=True)
linear_semana['emissoras'] = linear_semana['emissoras'].str.replace(''', '').str.replace(''', '').str.replace(' - ', ' ').str.replace('é', 'e').str.replace(' ', '_').str.replace('‘', '').str.replace('’', '')
linear_semana['emissoras'] = linear_semana['emissoras'].str.replace('TV_BAND', 'TVBAND').str.replace('NI_�NIC_at�_Mar19�', 'NINICATEHMAR19').str.replace('NI_TOTAL', 'NITOTAL')
linear_semana = linear_semana[['datas','emissoras', 'rat%', 'shr%', 'tvr%', 'avrch%_wavg', 'cov%', 'tvr#']]

In [51]:
linear_semana

,datas,emissoras,rat%,shr%,tvr%,avrch%_wavg,cov%,tvr#
0,*Week 52/21 (01/01/2022 - 02/01/2022),GLOBO,"3,9934","28,2056","14,1583","29,9041","39,5067","10106,5134"
1,*Week 52/21 (01/01/2022 - 02/01/2022),RECORD,"1,4928","10,5438","14,1583","18,4606","26,4978","10106,5134"
2,*Week 52/21 (01/01/2022 - 02/01/2022),SBT,"1,5376","10,8598","14,1583","16,8925","24,7404","10106,5134"
3,*Week 52/21 (01/01/2022 - 02/01/2022),TVBAND,"0,4293","3,0323","14,1583","10,8170","17,1236","10106,5134"
4,*Week 52/21 (01/01/2022 - 02/01/2022),NINICATEHMAR19,"1,2748","9,0038","14,1583","28,8711","40,0691","10106,5134"
...,...,...,...,...,...,...,...,...
979,Week 7/25 (10/02/2025 - 16/02/2025),RECORD,"1,5199","10,3470","14,6896","16,5181","37,9165","10169,3460"
980,Week 7/25 (10/02/2025 - 16/02/2025),SBT,"0,9920","6,7534","14,6896","13,2647","32,9672","10169,3460"
981,Week 7/25 (10/02/2025 - 16/02/2025),TVBAND,"0,3222","2,1935","14,6896","7,8546","22,7770","10169,3460"
982,Week 7/25 (10/02/2025 - 16/02/2025),NINICATEHMAR19,"0,7942","5,4066","14,6896","29,4947","59,1168","10169,3460"
983,Week 7/25 (10/02/2025 - 16/02/2025),NITOTAL,"5,5740","37,9452","14,6896","37,7348","68,6090","10169,3460"

In [ ]:
# Linha 1: Substituir vírgulas por pontos em todas as colunas numéricas
linear_semana.loc[:, linear_semana.columns.difference(['datas', 'emissoras'])] = linear_semana.loc[:, linear_semana.columns.difference(['datas', 'emissoras'])].replace(',', '.', regex=True)

# Linha 2: Converter todas as colunas numéricas para float
linear_semana.loc[:, linear_semana.columns.difference(['datas', 'emissoras'])] = linear_semana.loc[:, linear_semana.columns.difference(['datas', 'emissoras'])].astype(float)

In [53]:
linear_semana

,datas,emissoras,rat%,shr%,tvr%,avrch%_wavg,cov%,tvr#
0,*Week 52/21 (01/01/2022 - 02/01/2022),GLOBO,3.9934,28.2056,14.1583,29.9041,39.5067,10106.5134
1,*Week 52/21 (01/01/2022 - 02/01/2022),RECORD,1.4928,10.5438,14.1583,18.4606,26.4978,10106.5134
2,*Week 52/21 (01/01/2022 - 02/01/2022),SBT,1.5376,10.8598,14.1583,16.8925,24.7404,10106.5134
3,*Week 52/21 (01/01/2022 - 02/01/2022),TVBAND,0.4293,3.0323,14.1583,10.817,17.1236,10106.5134
4,*Week 52/21 (01/01/2022 - 02/01/2022),NINICATEHMAR19,1.2748,9.0038,14.1583,28.8711,40.0691,10106.5134
...,...,...,...,...,...,...,...,...
979,Week 7/25 (10/02/2025 - 16/02/2025),RECORD,1.5199,10.347,14.6896,16.5181,37.9165,10169.346
980,Week 7/25 (10/02/2025 - 16/02/2025),SBT,0.992,6.7534,14.6896,13.2647,32.9672,10169.346
981,Week 7/25 (10/02/2025 - 16/02/2025),TVBAND,0.3222,2.1935,14.6896,7.8546,22.777,10169.346
982,Week 7/25 (10/02/2025 - 16/02/2025),NINICATEHMAR19,0.7942,5.4066,14.6896,29.4947,59.1168,10169.346
983,Week 7/25 (10/02/2025 - 16/02/2025),NITOTAL,5.574,37.9452,14.6896,37.7348,68.609,10169.346

In [54]:
linear_semana.dtypes

datas          object
emissoras      object
rat%           object
shr%           object
tvr%           object
avrch%_wavg    object
cov%           object
tvr#           object
dtype: object

In [55]:
linear_semana.to_csv('semana_exemplo.csv', index=False)

In [56]:
# Função para extrair a data de início da semana
def extrair_data_inicio(texto_data):
    # Usar regex para extrair a data de início entre parênteses
    padrao = r'\((\d{2}/\d{2}/\d{4})'
    match = re.search(padrao, texto_data)
    if match:
        return match.group(1)
    return None

# Aplicar a função na coluna 'datas' para obter a data de início
linear_semana['data_inicio'] = linear_semana['datas'].apply(extrair_data_inicio)

# Converter para datetime usando o formato brasileiro (dia/mês/ano)
linear_semana['data_inicio'] = pd.to_datetime(linear_semana['data_inicio'], format='%d/%m/%Y')

# Se preferir, pode criar uma coluna para armazenar a semana do ano
linear_semana['semana_ano'] = linear_semana['data_inicio'].dt.isocalendar().week
linear_semana['ano'] = linear_semana['data_inicio'].dt.isocalendar().year

# Opcional: criar uma chave de semana no formato "YYYY-WW"
linear_semana['semana_chave'] = linear_semana['data_inicio'].dt.strftime('%Y-W') + linear_semana['semana_ano'].astype(str).str.zfill(2)

# Se quiser preservar também a informação do intervalo original, 
# pode criar colunas para data de início e fim
def extrair_data_fim(texto_data):
    padrao = r'- (\d{2}/\d{2}/\d{4})'
    match = re.search(padrao, texto_data)
    if match:
        return match.group(1)
    return None

linear_semana['data_fim'] = linear_semana['datas'].apply(extrair_data_fim)
linear_semana['data_fim'] = pd.to_datetime(linear_semana['data_fim'], format='%d/%m/%Y')

# Se precisar, pode também extrair as informações de semana/ano da string original
def extrair_semana_ano(texto_data):
    padrao = r'Week (\d+)/(\d+)'
    match = re.search(padrao, texto_data)
    if match:
        return (int(match.group(1)), int(match.group(2)))
    return (None, None)

linear_semana['semana_original'], linear_semana['ano_abreviado'] = zip(*linear_semana['datas'].apply(extrair_semana_ano))

In [57]:
linear_semana

,datas,emissoras,rat%,shr%,tvr%,avrch%_wavg,cov%,tvr#,data_inicio,semana_ano,ano,semana_chave,data_fim,semana_original,ano_abreviado
0,*Week 52/21 (01/01/2022 - 02/01/2022),GLOBO,3.9934,28.2056,14.1583,29.9041,39.5067,10106.5134,2022-01-01,52,2021,2022-W52,2022-01-02,52,21
1,*Week 52/21 (01/01/2022 - 02/01/2022),RECORD,1.4928,10.5438,14.1583,18.4606,26.4978,10106.5134,2022-01-01,52,2021,2022-W52,2022-01-02,52,21
2,*Week 52/21 (01/01/2022 - 02/01/2022),SBT,1.5376,10.8598,14.1583,16.8925,24.7404,10106.5134,2022-01-01,52,2021,2022-W52,2022-01-02,52,21
3,*Week 52/21 (01/01/2022 - 02/01/2022),TVBAND,0.4293,3.0323,14.1583,10.817,17.1236,10106.5134,2022-01-01,52,2021,2022-W52,2022-01-02,52,21
4,*Week 52/21 (01/01/2022 - 02/01/2022),NINICATEHMAR19,1.2748,9.0038,14.1583,28.8711,40.0691,10106.5134,2022-01-01,52,2021,2022-W52,2022-01-02,52,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,Week 7/25 (10/02/2025 - 16/02/2025),RECORD,1.5199,10.347,14.6896,16.5181,37.9165,10169.346,2025-02-10,7,2025,2025-W07,2025-02-16,7,25
980,Week 7/25 (10/02/2025 - 16/02/2025),SBT,0.992,6.7534,14.6896,13.2647,32.9672,10169.346,2025-02-10,7,2025,2025-W07,2025-02-16,7,25
981,Week 7/25 (10/02/2025 - 16/02/2025),TVBAND,0.3222,2.1935,14.6896,7.8546,22.777,10169.346,2025-02-10,7,2025,2025-W07,2025-02-16,7,25
982,Week 7/25 (10/02/2025 - 16/02/2025),NINICATEHMAR19,0.7942,5.4066,14.6896,29.4947,59.1168,10169.346,2025-02-10,7,2025,2025-W07,2025-02-16,7,25
983,Week 7/25 (10/02/2025 - 16/02/2025),NITOTAL,5.574,37.9452,14.6896,37.7348,68.609,10169.346,2025-02-10,7,2025,2025-W07,2025-02-16,7,25